html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

ul, ol {
    list-style: none;
    padding-left: 0;
}

input, button {
    border: none;
    background-color: transparent;
    font-family: inherit;
}