@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-VariableFont_slntwght.ttf);
}

html {
  font-size: 14px;
  font-family: Inter;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 8%);
}

.container--fullscreen {
  min-height: 100vh;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  width: 100%;
  max-width: 384px;
  background-color: hsl(0, 0%, 12%);
  padding: clamp(24px, 2.85%, 40px);
  border-radius: 14px;
}

.social__avatar {
  display: block;
  margin: 0 auto;
  max-width: 90px;
  border-radius: 50%;
}

.social__avatar img {
  max-width: 100%;
  border-radius: 50%;
}

.social__name {
  text-align: center;
  margin-top: 24px;
  font-size: 1.7rem;
  font-weight: 600;
  color: white;
}

.social__address {
  text-align: center;
  font-style: normal;
  color: hsl(75, 94%, 57%);
  font-size: 1rem;
  font-weight: 700;
  margin-top: 9px;
}

.social_biography {
  text-align: center;
  color: white;
  margin-top: 28px;
}

.socila__medias {
  list-style: none;
  margin-top: 25px;
}

.social__medias-item {
  background-color: hsl(0, 0%, 20%);
  text-align: center;
  margin-bottom: 14px;
  border-radius: 10px;
  transition: 100ms;
}

.social__medias-item:last-of-type {
  margin-bottom: 0;
}

.social__medias-item a {
  width: 100%;
  display: inline-block;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.social__medias-item:hover {
  background-color: hsl(75, 94%, 57%);
}

.social__medias-item a:hover {
  color: hsl(0, 0%, 12%);
}

.attribution {
  background-color: black;
  font-size: 15px;
  text-align: center;
  padding: 15px;
  color: white;
}

.attribution a {
  color: white;
  font-weight: bold;
}