@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
}

html {
  --primary-500: hsl(158, 36%, 37%);
  --primary-700: hsl(158, 42%, 18%);
  --neutral-darkest: hsl(212, 21%, 14%);
  --neutral-darker: hsl(228, 12%, 48%);
  --neutral-lighter: hsl(30, 38%, 92%);
  --neutral-lightest: hsl(0, 0%, 100%);

  font-size: 0.875rem;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--neutral-lighter);
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  min-height: 100vh;
  padding: 1em;
  justify-content: center;
  align-items: center;
}

.product-card {
  max-inline-size: 600px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.product-card__thumbnail {
  flex: 1 1 50%;
}

.product-card__thumbnail img {
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
}

.product-card__content {
  padding-block-start: clamp(1.55em, 1vw + 1.2em, 2.35em);
  padding-block-end: 1.7em;
  padding-inline: clamp(1.75em, 1vw + 1.5em, 2.3em);
  flex: 1 1 50%;
}

.row {
  display: flex;
}

.product-card__category {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  font-size: .85rem;
  color: var(--neutral-darker);
}

.product-card__title {
  font-family: "Fraunces", sans-serif;
  margin-block-start: clamp(.35em, 1vw + .2em, .68em);
  font-weight: 700;
  font-size: 2.28rem;
  line-height: 1;
  color: var(--neutral-darkest);
}

.product-card__desc {
  margin-block-start: clamp(1.2em, 2vw + 1em, 1.6em);
  line-height: 1.65;
  font-weight: 500;
  font-size: 1rem;
  color: var(--neutral-darker);
}

.product-card__price {
  font-family: "Fraunces", sans-serif;
  color: var(--primary-500);
  font-weight: 700;
  font-size: 2.3rem;
  margin-block-start: clamp(.6em, 1vw + .4em, .8em);
  display: flex;
}

.product-card__price del {
  font-family: "Montserrat", sans-serif;
  font-size: .95rem;
  font-weight: 500;
  color: var(--neutral-darker);
  margin-inline-start: 1.4em;
  margin-block-start: .9em;
}

.button-primary {
  width: 100%;
  font-family: inherit;
  font-weight: 700;
  padding-block: 1.1em;
  margin-block-start: clamp(1.2em, 2vw + .8em, 2.2em);
  font-size: 1rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutral-lightest);
  background-color: var(--primary-500);
  border-radius: 10px;
}

.button-primary img {
  margin-inline-end: .7em;
}


.attribution {
  font-family: tahoma, sans-serif;
  background-color: black;
  padding: 15px;
  font-size: 15px;
  color: white;
  text-align: center;
}

.attribution a {
  color: white;
  font-weight: bold;
}

@media (min-width: 40em) {
  .product-card {
    display: flex;
  }

  .product-card__thumbnail img {
    border-start-end-radius: 0;
    border-end-start-radius: 10px;
  }
}