html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    font-family: inherit;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

ul, ol {
    list-style: none;
    padding-left: 0;
}

input, button {
    border: none;
    background-color: transparent;
    font-family: inherit;
    outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

fieldset{
    min-width: 0;
    border: none;
    padding: 0;
    margin: 0;
}