@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./reset.css);

:root {
    --orange-500: #fb7413;
    --white: #ffffff;
    --grey-500: #959eac;
    --grey-900: #252d37;
    --grey-950: #121417;
}

html {
    font-size: clamp(100%, 70% + 1vw, 110%);
}

body {
    font-family: "Overpass", sans-serif;
    background-color: var(--grey-950);
}

img {
    max-width: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.container {
    padding: 0 1.5rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rating {
    padding: 1.5em;
    background: radial-gradient(circle, #2b3441 -100%, #171e26 80%);
    background-position-y: -100%;
    background-position-x: 0%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #171e26;
    color: white;
    border-radius: 15px;
    max-width: 410px;
    margin: 0 auto;
}

.rating__star-icon {
    background-color: #282f39;
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    padding: .75em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.rating__title {
    font-weight: 700;
    font-size: 1.55rem;
    line-height: 1.6;
}

.rating__description {
    font-weight: 400;
    font-size: .85rem;
    color: var(--grey-500);
    line-height: 1.6;
}

.rating__star-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-content: center; */
}

.rating__star {
    position: relative;
    /* margin-left: 1em; */
}
.rating__star:nth-child(2) {
    margin-left: 0;
}

.rating__star > input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.rating__star > span {
    display: block;
    box-sizing: content-box;
    width: .75em;
    height: .75em;
    padding: 1em;
    background-color: #282f39;
    color: var(--grey-500);
    line-height: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating__star > input:hover + span, .rating__star > input:focus + span {
    background-color: var(--white);
    color: var(--grey-900);
    cursor: pointer;
}

.rating__star > input:checked + span {
    background-color: var(--orange-500);
    color: var(--grey-900);
}

.rating__submit {
    display: block;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: .75em;
    margin-top: 1.5em;
    background-color: var(--orange-500);
    color: var(--grey-900);
    border-radius: 25px;
}

.rating__submit:hover, .rating__submit:focus {
    background-color: var(--white);
    color: var(--grey-900);
    cursor: pointer;
}

/* thank you component */

.thankyou__icon {
    text-align: center;
}

.thankyou__selected-info{
    margin: 1em auto;
    padding: .4em .7em;
    border-radius: 20px;
    font-size: 1rem;
    color: rgb(255, 115, 0);
    background-color: #282f39;
    width: fit-content;
}

.thankyou__title{
    color: var(--white);
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 700;
}

.thankyou__description{
    font-size: .9rem;
    color: var(--grey-500);
    text-align: center;
    line-height: 1.6;
}

.hidden-state {
    display: none;    
}

/* footer */

.attribution {
    font-size: 1rem;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
}

.attribution a {
    color: rgb(255, 174, 0);
}